            @import 'utilities.css';
             :root {
                --primary: #3DCFD3;
                --dark: #161616;
                --pure: #FFFFFF;
                --ternary: #898989;
                --light: #F2F2F2;
                --secondary: #070606;
            }
            
            body {
                font-family: 'Poppins', sans-serif;
                height: 5000px;
            }
            
            html {
                scroll-behavior: smooth;
            }
            
            * {
                padding: 0;
                margin: 0;
                box-sizing: border-box;
                -webkit-font-smotthing: antialiased;
            }
            
            header {
                background-color: var(--dark);
                clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 90%, 0 100%);
            }
            
            .container {
                max-width: 1152px;
                padding: 0 15px;
                margin: 0 auto;
            }
            
            @media(min-width:576px) {
                .container {
                    max-width: 540px;
                }
            }
            
            @media(min-width:768px) {
                .container {
                    max-width: 720px;
                }
            }
            
            @media(min-width:992px) {
                .container {
                    max-width: 960px;
                }
            }
            
            @media(min-width:1200px) {
                .container {
                    max-width: 1152px;
                }
            }
            
            .container .branding img {
                height: 200px;
                margin-top: -1.2rem;
            }
            
            header nav .left a {
                color: var(--pure);
                text-decoration: none;
                margin-right: 2rem;
                text-transform: uppercase;
                transition: all .3s ease;
            }
            
            header nav .left a:hover {
                color: var(--primary);
            }
            
            header nav {
                padding: 2rem 0;
            }
            
            header nav .branding {
                margin-right: 3rem;
            }
            
            .hero .left img {
                width: 400px;
            }
            
            .hero .right {
                color: var(--pure);
            }
            
            .hero .right h6 {
                font-size: 1.6rem;
                color: var(--primary);
                margin-bottom: 0.6rem;
            }
            
            .hero .right h1 {
                font-size: 4rem;
                font-weight: 100;
                line-height: 1.2;
                margin-bottom: 2rem;
            }
            
            .hero .right h1 span {
                color: var(--primary);
            }
            
            .hero .right p {
                line-height: 1.9;
                margin-bottom: 2rem;
            }
            
            .hero {
                padding: 3rem 0;
            }
            
            .hero .right {
                margin-top: -7rem;
            }
            
            section {
                padding: 6rem 0;
            }
            
            section.about .about-me-image {
                height: 450px;
                padding-left: 4rem;
            }
            
            section.about h1 {
                margin-bottom: 1rem;
                font-size: 1.6rem;
                font-weight: 400;
            }
            
            section.about h1 span {
                color: var(--primary);
            }
            
            section.about h3 {
                font-size: 1rem;
                margin-bottom: 1rem;
                font-weight: 400;
            }
            
            section.about p {
                font-family: 'Latto:ital', sans-serif;
                color: var(--ternary);
                line-height: 1.9;
                margin-bottom: 2rem;
            }
            
            section.about .social {
                display: flex;
            }
            
            section.about .social a {
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all .3s ease;
            }
            
            section.about .social a img {
                width: 100%;
                height: 100%;
                padding: 0.6rem;
            }
            
            section.about .social a img:hover {
                background: var(--primary);
            }
            
            .section-heading {
                color: var(--secondary);
                text-align: center;
                margin-bottom: 1rem;
                line-height: 0.5;
            }
            
            .section-heading+p {
                color: var(--ternary);
                font-family: 'Latto', sans-serif;
                margin-bottom: 6rem;
                text-align: center;
            }
            
            .section-heading span {
                color: var(--primary);
            }
            
            section.skills .card-wrapper {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-column-gap: 2rem;
                grid-row-gap: 5rem;
            }
            
            section.skills {
                background: var(--light);
            }
            
            section.skills .card-wrapper .card {
                background: var(--pure);
                padding-top: 3rem;
                padding-bottom: 3rem;
                padding-left: 2rem;
                padding-right: 2rem;
                position: relative;
                text-align: center;
                transition: all .3s ease;
            }
            
            section.skills .card-wrapper .card img {
                position: absolute;
                top: -3.5rem;
                left: 50%;
                transform: translateX(-50%);
            }
            
            section.skills .card-wrapper .card h2 {
                font-weight: 200;
                font-size: 1.4rem;
                margin-bottom: 0.5rem;
            }
            
            section.skills .card-wrapper .card p {
                font-family: 'Latto', sans-serif;
                color: var(--ternary);
                line-height: 1.6;
            }
            
            section.skills .card-wrapper .card:hover {
                background-color: var(--dark);
            }
            
            section.skills .card-wrapper .card:hover p,
            section.skills .card-wrapper .card:hover h2 {
                color: #FFFFFF;
            }
            
            section.skills .card-wrapper .card h4 {
                color: crimson;
            }
            
            section.work {
                background: var(--light);
            }
            
            section.work p {
                color: var(--dark);
            }
            
            section.work .card-wrapper {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 2rem;
            }
            
            section.work .card-wrapper .card {
                position: relative;
                height: 250px;
            }
            
            section.work .card-wrapper .card .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(61, 207, 211, 0.9);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                color: red;
                opacity: 0;
                transition: all .3s ease;
            }
            
            section.work .card-wrapper .card .overlay a {
                color: var(--secondary);
                text-decoration: none;
            }
            
            section.work .card-wrapper .card img {
                height: 100%;
                width: 100%;
            }
            
            section.work .card-wrapper .card:hover .overlay {
                opacity: 1;
            }
            
            section.blog {
                background: var(--dark);
                clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 90%, 0 100%);
                padding-bottom: 12rem;
            }
            
            section.blog .section-heading {
                color: var(--pure);
            }
            
            section.blog .card-wrapper {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 3rem;
            }
            
            section.blog .card-wrapper .card {
                background: var(--pure);
            }
            
            section.blog .container .card-wrapper .card .image-wrapper img {
                height: 400px;
            }
            
            section.blog .card-wrapper .card .card-content {
                padding: 1rem;
            }
            
            section.blog .card-wrapper .card .card-content h1 {
                font-size: 2rem;
                font-weight: 600;
            }
            
            section.blog .card-wrapper .card .card-content h1:hover {
                color: tomato;
            }
            
            section.blog .card-wrapper .card .card-content p {
                font-family: 'Latto', sans-serif;
                color: var(--ternary);
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
            
            section.blog .card-wrapper .card .card-content a.read-more {
                font-size: 0.8rem;
            }
            
            section.contact .card-wrapper {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 3rem;
            }
            
            section.contact .card-wrapper .card {
                text-align: center;
            }
            
            section.contact .card-wrapper .card img {
                margin-bottom: 3rem;
            }
            
            section.contact .card-wrapper .card h1 {
                font-weight: 400;
                margin-bottom: 1rem;
            }
            
            section.contact .card-wrapper .card h6 {
                font-size: 1rem;
                color: var(--ternary);
                font-weight: 400;
                margin-bottom: 4rem;
            }
            
            section.contact .input-wrap {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 2rem;
                margin-bottom: 2rem;
            }
            
            section.contact .input-wrap2 {
                display: flex;
                flex-direction: column;
            }
            
            section.contact input {
                padding: 0.5rem;
                font-size: 1.2;
            }
            
            section.contact .input-wrap2 input {
                margin-bottom: 2rem;
            }
            
            section.contact .input-wrap2 textarea {
                padding: 0.5rem;
                border: 1px solid var(--dark);
            }
            
            section.contact .card-wrapper .click {
                text-align: center;
            }
            
            section.contact .click {
                text-align: center;
                margin-top: 2rem;
            }
            
            footer {
                display: flex;
                background: var(--dark);
                text-align: center;
            }
            
            footer .footer-logo {
                margin-left: 15rem;
            }
            
            footer .foot {
                color: var(--pure);
                margin-top: 0.9rem;
                margin-right: 10rem;
            }
            
            @media (max-width:1024px) {
                header #main-nav {
                    display: none;
                }
                .hero .left img {
                    width: 260px;
                }
                .hero .right h1 {
                    font-size: 3rem;
                }
                .hero {
                    padding-top: 10rem;
                }
                header {
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 12% 89%, 0 100%);
                }
                section.about .about-me-image {
                    height: 360px;
                }
                section.skills .card-wrapper {
                    grid-template-columns: repeat(2, 1fr);
                }
                section.work .card-wrapper {
                    grid-template-columns: repeat(2, 1fr);
                }
                section.blog .card-wrapper {
                    grid-template-columns: repeat(1, 1fr);
                }
                section.blog {
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 97%, 0 100%);
                }
            }
            
            @media(max-width:576px) {
                .hero {
                    flex-direction: column;
                }
                hero.right {
                    position: absolute;
                    top: 260px;
                    padding: 0 1rem;
                    background: linear-gradient(rgba(0, 0, 0, ), rgba(0, 0, 0, 0.9));
                }
                header {
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 69% 97%, 0 100%);
                }
                .hero .left {
                    margin-top: -10rem;
                    margin-right: -9rem;
                    padding-bottom: 4rem;
                }
                .hero .right h6 {
                    padding-top: 3rem;
                }
                .hero .left img {
                    width: 650px;
                }
                .about-inner-wrap {
                    flex-direction: column;
                }
                .about .right1 {
                    text-align: center;
                }
                .about .right1 .social {
                    justify-content: center;
                }
                section {
                    padding: 3rem;
                }
                section.about .about-me-image {
                    height: 450px;
                    padding-left: 0rem;
                }
                section.skills .card-wrapper {
                    grid-template-columns: repeat(1, 1fr);
                }
                section.work .card-wrapper {
                    grid-template-columns: repeat(1, 1fr);
                }
                section.contact .card-wrapper {
                    grid-template-columns: repeat(1, 1fr);
                }
                section.contact .input-wrap {
                    grid-template-columns: repeat(1, 1fr);
                }
                section.work .card-wrapper .card .img {
                    width: auto;
                    height: auto;
                }
                footer .footer-logo {
                    margin-left: 0rem;
                }
                footer .foot {
                    margin-right: 1rem;
                }
            }